<section class="py-5">
  <div class="container">
    <div>
      <h2 class="text-center mt-5 mb-4 subtitles">Sobre mí</h2>
      <p class="text-center mb-5 text-secondary texts">Soy técnico superior en Desarrollo de Aplicaciones Web y en Administración y Finanzas, apasionado de la informática y de la tecnología desde que era un niño. Estos últimos años me he estado formando como desarrollador web con el objetivo de entrar en el sector y desarrollarme profesionalmente en él.</p>
    </div>
  </div>
</section>
