<section class="mb-5" id="proyectos">
  <h2 class="py-5 subtitles text-center">Proyectos</h2>
  <div class="container text-center">

    <div class="row gap-5 d-flex align-items-center justify-content-center flex-direction-row">

      <div class="col-lg-5 card p-3">
        <img class="card-img-top angular" src="../../../assets/img/angular.svg" alt="angular-logo">
        <div class="card-body">
          <h4 class="card-title subtitles2">Página personal</h4>
          <p class="card-text text-secondary">
            Mi página personal es una aplicación web creada con Angular 2 y almacenada en Vercel.
          </p>
          <a href="https://github.com/RoiBaldomir/my-personal-site" class="btn btn-primary texts" target="_blank">GitHub</a>
        </div>
      </div>

      <div class="col-lg-5 card p-3">
        <img class="bi bi-github card-img-top" width="150" height="150" src="../../../assets/img/penguin.svg" alt="penguin">
        <div class="card-body">
          <h4 class="card-title subtitles2">pingu-api</h4>
          <p class="card-text text-secondary">
            API hecha en FastAPI que muestra la información de todas las especies de pingüinos existentes.
          </p>
          <a href="https://github.com/RoiBaldomir/pingu-api" class="btn btn-primary texts" target="_blank">GitHub</a>
        </div>
      </div>

    </div>

  </div>
</section>
